.container-fluid
	.navbar-header
		button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
			span.sr-only Toggle navigation
			span.icon-bar
			span.icon-bar
			span.icon-bar
		a.navbar-brand(href='/') project
	.collapse.navbar-collapse
			if(navLinks.left)
				ul.nav.navbar-nav.navbar-left
					each link in navLinks.left
						li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
			elseif(navLinks.right)
				ul.nav.navbar-nav.navbar-right
					each link in navLinks.right
						li(class=(section && section == link.key ? 'active' : null)): a(href=link.href)= link.label
			