include ./../mixins/form-value
form(class='signup-form' action='/signup' method='POST' enctype='multipart/formdata')
    fieldset 
        .form-group
            label Email: 
            input.form-control(type='email' required='true' name='email')
        .form-group
            label Firstname:
            input.form-control(type='text' name='name.first')
        .form-group
            label Surname:
            input.form-control(type='text' name='name.last')
        .form-group
            label Password:
            input.form-control(type='password' name='password')
        .form-group
            input(type='submit' class='btn btn-submit btn-primary' name='submit' value='Signup')