.no-inner-padding{
    padding-left: 0px;
    padding-right: 0px;
}

.no-border-radius{
    border-radius: 0px;
}

.relative{
    position: relative;
}

.inner-auto-margin{
    margin-left: auto;
    margin-right: auto;
}

.pad-md{
    padding: 40px;
}
.pad-sm{
    padding: 20px;
}
.inner-pad-sm{
    padding-left:20px;
    padding-right: 20px;
}
.outer-pad-md{
    padding-top:40px;
    padding-bottom: 40px;
}
.no-outer-padding{
    padding-top: 0px;
    padding-bottom: 0px;
}
.no-inner-padding{
    padding-left: 0px;
    padding-right: 0px;
}

.text-small{

}
.oblique{
    font-style:oblique;
}